.mdx {
  @apply w-full max-w-content text-tx;

  --shiki-color-text: var(--text-color);
  --shiki-color-background: var(--gray3);
  --shiki-token-constant: var(--gray12);
  --shiki-token-string: var(--gray11);
  --shiki-token-comment: var(--gray9);
  --shiki-token-keyword: var(--gray10);
  --shiki-token-parameter: var(--gray12);
  --shiki-token-function: var(--gray12);
  --shiki-token-string-expression: var(--gray11);
  --shiki-token-punctuation: var(--gray9);
  --shiki-token-link: var(--gray12);
}

/* code */

.mdx code:not(pre code) {
  @apply relative rounded-md bg-gray-3 px-1.5 py-1 text-sm text-gray-12;
}

.mdx pre {
  @apply relative grid overflow-x-auto rounded-lg bg-gray-3 px-4
    py-3 text-sm
    leading-6;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.mdx [data-rehype-pretty-code-fragment] pre {
  @apply px-0;
}

[data-rehype-pretty-code-title] {
  @apply mb-1 text-sm text-gray-11;
}

[data-rehype-pretty-code-caption] {
  @apply mt-1 text-sm text-gray-11;
}

[data-line] {
  @apply inline-block w-full px-4;
}

[data-highlighted-line] {
  @apply bg-black-A4;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > [data-line] {
  @apply pl-2;
}

[data-line-numbers] > [data-line]::before {
  @apply mr-6 inline-block w-4 text-right text-gray-9;
  counter-increment: line;
  content: counter(line);
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.5rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 2.5rem;
}

[data-highlighted-chars] {
  @apply rounded-md bg-black-A4 px-1 shadow;
}

[data-chars-id] {
  @apply border-b-2;
}

[data-chars-id] span {
  color: inherit !important;
}

[data-chars-id='v'] {
  @apply font-semibold text-white !important;
  border-bottom-color: rgb(249 168 212);
  background-color: #9f123980;
}

[data-chars-id='s'] {
  @apply font-semibold text-white !important;
  border-bottom-color: rgb(202 138 4);
  background-color: #854d0e80;
}

[data-chars-id='i'] {
  @apply font-semibold text-white !important;
  border-bottom-color: rgb(147 51 234);
  background-color: #6b21a880;
}

/* rehype-autolink-headings */

.mdx .anchor {
  @apply absolute -ml-10 mt-[3px] flex h-5 w-5 items-center justify-center
    rounded-md border-none bg-transparent no-underline opacity-0 ring-1
    ring-gray-7 transition-[opacity] hover:opacity-100 hover:shadow;
}

.mdx .anchor:after {
  content: ' ';
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' aria-hidden='true'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='currentColor' strokeWidth='1.5' strokeLinecap='round' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;

  @apply h-3 w-3 bg-gray-12;
}

@media (hover: hover) {
  .mdx .anchor:hover,
  .mdx *:hover > .anchor {
    @apply opacity-100;
  }
}

/* prose */

.mdx > :first-child {
  @apply mt-0;
}

.mdx > * {
  @apply mb-7;
}

.mdx > :where(h1, h2, h3, h4) {
  @apply scroll-mt-page text-base font-semibold leading-7;
  /* font-feature-settings: 'kern', 'calt', 'case'; */
}

.mdx > :where(h1, h2) {
  @apply mt-page;
}

.mdx > :where(h3, h4) {
  @apply mt-20;
}

.mdx > :where(h1, h2) + :where(h3, h4) {
  @apply mt-0;
}

.mdx p {
  @apply text-base leading-7 tracking-normal;
  /* font-feature-settings: 'kern', 'frac', 'kern', 'ss02'; */
}

.mdx b,
.mdx strong {
  @apply bg-gray-4 p-0.5 font-semibold;
}

.mdx em {
  @apply font-serif not-italic;
}

.mdx del {
  @apply !text-gray-8;
}

.mdx a {
  @apply relative
    underline decoration-gray-8 decoration-1 underline-offset-[2.5px]
    transition-[color,text-decoration-color] duration-xx ease-[ease]
    hover:text-tx hover:decoration-gray-9 hover:duration-fast;
}

.mdx blockquote {
  @apply relative font-serif text-gray-11;
  quotes: '“' '”' '‘' '’';
  --quote-offset: 2px;
}

.mdx blockquote:before {
  @apply absolute -translate-x-full text-gray-11;
  content: open-quote;
  left: calc(-1 * var(--quote-offset));
}

.mdx blockquote :last-child:after {
  content: close-quote;
  margin-left: var(--quote-offset);
}

.mdx blockquote * {
  @apply text-gray-11;
}

.mdx > :has(+ :where(ul, ol)) {
  @apply mb-2;
}

.mdx ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
}

.mdx li > ul {
  @apply list-[circle];
}

.mdx li {
  @apply list-item leading-7;
}

.mdx li::marker {
  @apply text-gray-11;
}

.mdx li + li,
.mdx li > ul {
  @apply mt-[7px];
}

.mdx li > div,
.mdx li > p {
  @apply mb-3;
}

.mdx ol {
  --counter-space: 12px;
  counter-reset: basics-ol;
  list-style-type: none;
  padding: 0;
}

.mdx ol li {
  --l: calc(2 * var(--counter-space));
  text-indent: calc(-1 * var(--l));
  padding-left: var(--l);
}

.mdx ol li:before {
  @apply inline-flex select-none items-center justify-end text-right text-gray-11;
  content: counter(basics-ol) '. ';
  counter-increment: basics-ol;
  min-width: var(--counter-space);
  margin-right: var(--counter-space);
  font-feature-settings: 'tnum' 1;
  letter-spacing: -0.05em;
  line-height: normal;
}

.mdx hr {
  @apply h-[1px] border-none bg-gray-5;
}

.mdx table {
  empty-cells: hide;
}

.mdx th {
  @apply px-4 pb-1 text-left font-semibold
    [&[align=center]]:text-center 
    [&[align=right]]:text-right;
}

.mdx td {
  @apply border-l px-4 py-2 text-left align-text-top
    [&[align=center]]:text-center 
    [&[align=right]]:text-right;
}

.mdx td:first-child {
  word-break: keep-all;
}

.mdx td:last-child {
  @apply border-r;
}

.mdx img {
  @apply flex overflow-hidden rounded-md;
}

.mdx img + em,
.mdx img + em p {
  @apply mt-2 inline-block font-sans text-sm not-italic leading-5 text-gray-11;
}

.mdx img,
.medium-zoom-image--opened {
  filter: drop-shadow(0 25px 20px rgba(0, 0, 0, 0.1));
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 1000;
}
